/* body */
body {
    font-family: 'Work Sans', sans-serif;
    max-width: 1440px;
    margin: auto;
}

/* header */
header {
    background-color: rgba(255, 144, 14, 0.1);
    padding-bottom: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
}

#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner-img {
    width: 80%;
    margin-top: 50px;
}

/* main */
#architects {
    display: flex;
    align-items: center;
    padding: 80px 150px;
}

#architects-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

#architects-texts {
    margin-left: 50px;
}

#features {
    display: flex;
    align-items: center;
    padding: 20px 100px;
}

#features-heading {
    border-left: 5px solid #FF900E;
    padding-left: 10px;
}

.features-div {
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 20px;
}

#experience {
    background-color: #FF900E;
    border-radius: 5px;
    padding: 35px;
    width: 342px;
}




/* common styles */

a {
    text-decoration: none;
    color: black;
    margin-right: 25px;
}

button {
    color: white;
    background-color: #FF900E;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
}

.text-center {
    text-align: center;
}




/***** media queries *****/

/* for mobile phone */
@media screen and (max-width: 480px) {
    nav {
        flex-direction: column;
        padding: 15px;
    }

    #branches {
        margin: 0;
    }

    #banner-img {
        width: 90%;
        margin-top: 30px;
    }

    #banner-texts {
        padding: 20px;
    }

    #architects {
        flex-direction: column-reverse;
        padding: 10px;
    }

    #architects-image{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    #architects-texts {
        margin-left: 0;
        padding: 20px;
    }
    
}